.footer{
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(19, 19, 19, 0.8);
    position: relative;
}
.footer-cont{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.loc{
    display: flex;
    margin-bottom: 0.5rem;
}
.loc p{
    line-height: 30px;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.social{
    margin-top: 1rem;
}

.social a {
    display: inline-block;
    transition: all 0.3s ease;
}

.social a:hover {
    transform: scale(1.5);
    }

.footer-home-btn {
    height:40px;
    width: 50px;
  position: absolute;
  right: 2.5rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.2rem;
  border: 2px solid white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(138, 116, 173, 0.08);
  margin-top: 1.5rem;
  transition: background 0.3s, transform 0.2s;
  cursor: pointer;
  z-index: 10;
}
.footer-home-btn:hover {
   /* border-radius : 30px; */
  color: #a273ef;
  transform: translateY(-2px);
  box-shadow: 0 0 10px 7px rgba(162, 115, 239, 0.3);
}
@media screen and (max-width: 900px) {
  .footer-home-btn {
    right: 1rem;
    bottom: 1rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .footer-home-btn {
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.95rem;
  }
}


h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p{
    font-size: 1.2rem;
}
@media screen and (max-width:640px){
    .footer-cont{
        grid-template-columns: 1fr;
    }
    

}
