@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", monospace;
  scroll-behavior: smooth;
}
body {
  background-image: url("Assets/img/bg5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-bottom: 0.5rem;
  margin-left: 19px;
}
#logo {
  height: 60px;
  width: 110px;
  /* border-radius: 50px; */
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  list-style: none;
  padding: 5px;
  margin: 0 2rem 0 1rem;
}
.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-menu li a:hover {
  color: rgb(224, 138, 224);
  transition: 0.5s;
  /* box-shadow: 10px 10px 10px 10px white; */
}

h1,
h4,
p,
a {
  color: white;
  text-decoration: none;
}
.btn {
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: white;
  border: 4px solid #a273ef;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;

}
/* .btn-light {
  background: transparent;
  border-radius: 5px;
  border: 5px solid black;
  color: white;
} */
.btn:hover {
  background: #a273ef;
  color: white;
  transition: 0.5s;
}
#client-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #contImg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
} */
#contact-box {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#subm {
  color: aliceblue;
  height: 35px;
  width: 85px;
  background: transparent;
  align-items: center;
  border: 3px solid white;
  border-radius: 20px;
  justify-content: center;
}
#subm:hover{
  color: aquamarine;
  transition: 0.5s;
}

.imgss {
  position: relative;
  width: 100%;
  height: 100%;
}
#contact-box label,
input {
  margin: 20px;
}
#contact-box input {
  background: transparent;
  padding: 8px;
  border-radius: 20px;
  border: 3px solid white;
}
::placeholder {
  text-align: center;
  color: white;
}
